body {
    background-color: hsla(0, 0%, 15%, 1);
    color: hsla(0, 0%, 100%, 1);
    font-family: Arial;
    padding: unset;
    margin: unset;

}

.img-container {
    display: flex;
    flex: 38%;
    background-color: #333;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    height: min-content;
    width: min-content;
}

.text-container {
    background-color: #333;
    flex: 62%;
    display: flex;
    flex-direction: column;
}

.head-container{
    display: flex;
}

.head-nav-container {
    display: flex;
    justify-content: stretch;

}

.head-nav-left{
    flex: 10;
    margin: 0.8em;
}

.head-nav-right{
    flex: 1;
    margin: 0.8em;
}


hr{
    margin: 0;
    border-width: 0.4px;
    border-color: #555;
}

a{
    color: #ff9e22;
    text-decoration: unset;
}
a:hover{
    color: #ffc77d;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;

}
li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;

}


.blog-name {
    height: max-content;
    padding: 20px;
    font-size: 5em;
}

.blog-description {
    padding: 1em;

}

